/* Postion leaflet map */
#mapId {
    position: absolute;
    top: 50px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }

/* Button design */
.btn {
  color: gray;  
  background-color: black;
  border-color: gray;
  
}

  
